<ion-view view-title="About">
  <ion-content padding="true" class="welcome-bg">
    <div class="row">
      <div class="col text-center"><img src="./img/edlogo.jpg" class="imgResponsiveSmall"></div>
    </div>
    <div class="row">
      <div class="col text-center"><h3 class="whiteFont">easyDocs Backup</h3></div>
    </div>
    <div class="row">
      <div class="col text-center"><h5 class="whiteFont">Version 1.0</h5></div>
    </div>
    <div style="height: 50px"></div>
    <div class="row">
      <div class="col text-center"><p class="whiteFont">Copyright &copy; ABC GmbH</p></div>
    </div>
    <div class="row">
      <div class="col text-center"><p class="whiteFont">All rights reserved.</p></div>
    </div>
    <div class="row">
      <div class="col text-center"><p class="whiteFont">Frontend Developer: Nico Strauch</p></div>
      <div class="col text-center"><p class="whiteFont">Backend Developer: Kevin Keller</p></div>
    </div>
  </ion-content>
</ion-view>
