<ion-view view-title="Backup">
  <ion-content ng-controller="backupCtrl" padding="true" class="backup-bg">

    <div style="height: 200px"></div>
        <button class="button button-stable button-block button-positive" ng-click="doBackup()">
          Start manual BackUp
        </button>
 <!--     <ion-item>
        <div class="bar bar-header bar-stable">
          <h1 class="title">{{responseStart.message}}</h1>
        </div>
      </ion-item> -->

  </ion-content>
</ion-view>
