<ion-view view-title="Configuration">
  <ion-content ng-controller="backupCtrl">
  <ul>
    <!-- Begin of path settings -->
    <li class="item item-divider">Path settings</li>
    <li>
      <label class="item item-input">
        <span class="input-label">Backup path</span>
        <input type="text" placeholder="{{responseConfig.paths.backup}}" id="backuppath" ng-model="responseConfig.paths.backup">
      </label>
    </li>
    <li>
      <label class="item item-input">
        <span class="input-label">Documents</span>
        <input type="text" placeholder="{{responseConfig.paths.documents}}" id="documents" ng-model="responseConfig.paths.documents">
      </label>
    </li>
    <!-- End of path settings-->

    <!-- Begin database settings -->
    <li class="item item-divider">Database settings</li>
    <li>
      <label class="item item-input">
        <span class="input-label">User</span>
        <input type="text" placeholder="{{responseConfig.db.user}}" id="user" ng-model="responseConfig.db.user">
      </label>
    </li>
    <li>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="{{responseConfig.db.password}}" id="password" ng-model="responseConfig.db.password">
      </label>
    </li>
    <li>
      <label class="item item-input">
        <span class="input-label">Joomla Prefix</span>
        <input type="text" placeholder="{{responseConfig.db.jprefix}}" id="jprefix" ng-model="responseConfig.db.jprefix">
      </label>
    </li>
    <li>
      <label class="item item-input">
        <span class="input-label">Backuplog table</span>
        <input type="text" placeholder="{{responseConfig.db.backupLogTable}}" id="backuplog" ng-model="responseConfig.db.backupLogTable">
      </label>
    </li>
    </ul>
    <!-- End of database settings -->

    <ion-item>
      <button class="button button-stable button-full button-positive" ng-click="saveConfig()">
        Save new config
      </button>
    </ion-item>

  </ion-content>
</ion-view>
