<ion-view view-title="History">
  <ion-content ng-controller="ApiCtrl" padding="true" class="history-bg">
    <div class="col text-center"> <h3 class="whiteFont">ID: Timestamp</h3></div>
    <ion-list>
      <ion-item>
      <div class="row" ng-repeat="x in apiArray" >
        <div class="col text-center">{{x.id}}: {{x.proceeded}}</div>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
