<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round button-positive" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/welcome">
          <i class="icon ion-star"></i>  Start
        </ion-item>
        <ion-item menu-close ng-click="login()">
          <i class="icon ion-person"></i>  Login
        </ion-item>
        <ion-item menu-close href="#/app/user">
          <i class="icon ion-person-stalker"></i>  Users
        </ion-item>
        <ion-item menu-close href="#/app/history">
          <i class="icon ion-ios-list"></i>  History
        </ion-item>
        <ion-item menu-close href="#/app/backup">
          <i class="icon ion-locked"></i>  BackUp
        </ion-item>
        <ion-item menu-close href="#/app/restore">
          <i class="icon ion-ios-undo"></i>  Restore
        </ion-item>
        <ion-item menu-close href="#/app/schedule">
          <i class="icon ion-clock"></i>  Schedule
        </ion-item>
        <ion-item menu-close href="#/app/config">
          <i class="icon ion-gear-a"></i>  Configuration
        </ion-item>
        <ion-item menu-close href="#/app/about">
          <i class="icon ion-information-circled"></i>  About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
