<ion-view view-title="Restore">
  <ion-content ng-controller="backupCtrl" padding="true" class="history-bg">
  <ion-list>
    <ion-item>
      <button class="button button-stable button-full button-assertive" ng-click="restore()">
        Restore
      </button>
    </ion-item>
    <ion-item>
      <div class="row" ng-repeat="x in apiArray" >
        <ion-radio ng-model="filter.blue" ng-click="setBID(x.id)">
          <div class="col text-center">{{x.id}}: {{x.proceeded}}</div>
        </ion-radio>
      </div>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>

