<ion-view view-title="Schedule">
  <ion-content ng-controller="backupCtrl">
<form>
    <ul class="list">
      <!-- State of the schedule-->
      <li class="item item-divider">State</li>
      <li class="item item-toggle">
        Schedule active
        <label class="toggle toggle-positiv">
          <input type="checkbox" id="activatedSchedule" checked="{{responseConfig.schedule.activated}}" ng-model="responseConfig.schedule.activated">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <!-- Interval settings -->
      <li class="item item-divider">Interval</li>
      <li>
      <label class="item item-input">
        <span class="input-label">Seconds</span>
        <input type="text" placeholder="{{responseConfig.schedule.interval.seconds}} e. g. 0-59" id="seconds" ng-model="responseConfig.schedule.interval.seconds">
      </label>
      </li>
      <li>
      <label class="item item-input">
        <span class="input-label">Minutes</span>
        <input type="text" placeholder="{{responseConfig.schedule.interval.minutes}} e. g. 0-59" id="minutes" ng-model="responseConfig.schedule.interval.minutes">
      </label>
      </li>
      <li>
        <label class="item item-input">
          <span class="input-label">Hours</span>
          <input type="text" placeholder="{{responseConfig.schedule.interval.hours}} e. g. 0-23" id="hours" ng-model="responseConfig.schedule.interval.hours">
        </label>
      </li>
      <li>
        <label class="item item-input">
          <span class="input-label">Day of month</span>
          <input type="text" placeholder="{{responseConfig.schedule.interval.day_month}} e. g. 1-31" id="day_month" ng-model="responseConfig.schedule.interval.day_month">
        </label>
      </li>
      <li>
        <label class="item item-input">
          <span class="input-label">Day of week</span>
          <input type="text" placeholder="{{responseConfig.schedule.interval.day_week}} e. g. 0-6" id="day_week" ng-model="responseConfig.schedule.interval.day_week">
        </label>
      </li>
      <li>
        <label class="item item-input">
          <span class="input-label">Month</span>
          <input type="text" placeholder="{{responseConfig.schedule.interval.months}} e. g. 0-11" id="month" ng-model="responseConfig.schedule.interval.months">
        </label>
      </li>
      <!-- End of interval settings -->


    <!-- Buttons for stop/start schedule service-->
    <ion-list>

    <!-- Button to start schedule -->
      <ion-item>
        <button class="button button-stable button-full button-balanced" ng-click="startScheduleBackup()">
          Start scheduled Backup
        </button>
      </ion-item>

      <!-- Stop button -->
      <ion-item>
        <button class="button button-stable button-full button-assertive" ng-click="stopScheduleBackup()">
          Stop scheduled BackUp
        </button>
      </ion-item>

      <ion-item>
        <div class="bar bar-header bar-stable">
          <h1 class="title">{{responseStop.message}}</h1>
        </div>
      </ion-item>
    </ion-list>
    </form>
  </ion-content>
</ion-view>
