<ion-view view-title="User">
  <ion-content ng-controller="UserCtrl">

    <!-- users and their roles -->
    <li class="item item-divider">User and roles</li>
    <li class="item item-toggle">
      Show user list
      <label class="toggle toggle-positiv">
        <input type="checkbox" id="activatedSchedule" ng-model="toggleState" ng-click="getUserRoles()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>

    <!-- user list-->
    <div class="row" ng-repeat="user in userArray" ng-show="toggleState">
      <div class="col"><i class="icon ion-person"></i> {{user.user}}</div>
      <div class="col">{{user.role}}</div>
    </div>


    <!-- uploaded files by user -->
    <li class="item item-divider">Uploaded files by user</li>
    <form>

      <!-- select box for user file list -->
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            User
          </div>
          <select ng-model="selectedValue">
            <option ng-repeat="user in joomlaUserArray">{{user.user}}</option>
          </select>
        </label>
      </div>

      <!-- Button to find user -->
      <ion-item>
        <button class="button button-stable button-full button-positive" ng-click="getUserFiles()">
          Find uploaded files
        </button>
      </ion-item>
    </form>

    <!-- list of files -->
    <div class="row header">
      <div class="col text-center"><h4>Uploaded Files</h4></div>
    </div>
    <div class="row" ng-repeat="file in filesArray" >
      <div class="col"><i class="icon ion-ios-paper"></i> {{file.filename}}</div>
        <div class="col">{{file.path}}</div>
    </div>


  </ion-content>
</ion-view>
