<ion-view view-title="easyDocs Backup">
  <ion-content padding="true" class="welcome-bg">
   <div style="height: 100px"></div>
    <section class="centreImage">
    <div class="row row-center">
      <div class="col text-center"><h1 class="whiteFont">Welcome</h1></div>
    </div>
    <div class="row">
      <div class="col text-center"><h3 class="whiteFont">- easyDocs Backup -</h3></div>
    </div>
    <div class="row">
      <div class="col text-center"><img src="./img/edlogo.jpg" class="imgResponsiveSmall"></div>
    </div>
    </section>
  </ion-content>
</ion-view>
