.imgResponsiveSmall {
  width: 30%;
  height: auto;
  border-radius: 10%;
}

.welcome-bg {
  background-image: url('../img/bgmaccof.jpg');
  width: auto;
  height: 100%;
}

.backup-bg {
  background-image: url('../img/lap.jpg');
  width: auto;
  height: 100%;
}

.history-bg {
  background-image: url('../img/ipad.jpg');
  width: auto;
  height: 100%;
}


.centreBlock {
  align-content: center;
}

.whiteFont{
  color: white;
}
/*
h1{
  color: white;
  font-style: inherit;
}

h3{
  color: white;
  font-style: inherit;
}

h5 {
  color: white;
}

p{
  color: white;
}
*/
.centreImage {
  position:absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  top:50%;
 /* transform:translateY(-50%); */
}
